/*
primary: 8ecae6
secondary: 219ebc
info: 023047
danger: fb8500
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.mt-2{
    margin-top: 2rem;
}

.logo{
    display: block;
    font-size: 3rem;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    background-color: #8ecae6;
    color: white;
}