html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
}
/* Utilitarias */
.container{
    width: 80%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */
.bg-header{
    background-image: url('../assets/images/bg-header-min.jpg');
    height: 18.75em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* NavBar */
.bg-navbar{
    background-color: rgba(0, 0, 0, 0.062);
    padding: 1.5em 0;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 1em;
}
.navbar-brand img{
    width: 2em;
    
}