.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    background-color: aqua;
}

.border{
    border: 1px black solid;
}

.padre{
    background-color: blueviolet;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: center;
    align-content: space-between;
}

.h-700{
    height: 700px;
}

.item{
    width: 200px;
    background-color: chocolate;
}

.flex-grow-1{
    flex-grow: 1;
}